<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

</head>

<body>
<div th:fragment="logo">
    <div class="container">
        <div class="row">
            <div class=" col-xl-12">
                <div class="d-flex justify-content-center">
                    <img class="logoimg" src="https://i.imgur.com/VMivCuK.png" th:href="@{/}" />
                </div>
            </div>

        </div>
    </div>
</div>
</body>

</html>