<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <div th:replace="/fragments/header :: header"/>
</head>

<body>
<div th:replace="/fragments/logo :: logo"/>

<div class="container container_custom mb-5">
    <div class="row">
        <div th:replace="/fragments/header :: navbar"/>

        <div class="col-xl-12 middle_panel py-5 px-5 order-3 order-xl-2">

        <h1>ERROR</h1>
        </div>



    </div>
    <div th:replace="/fragments/footer :: footer"/>
</div>
</body>

</html>