<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <div th:replace="fragments/header :: header" th:remove="tag"/>
</head>

<body>
<div th:replace="fragments/logo :: logo" th:remove="tag"/>

<div class="container container_custom mb-5">
    <div class="row">
        <div th:replace="fragments/header :: navbar" th:remove="tag"/>

        <div class="col-xl-12 middle_panel py-5 px-5 order-3 order-xl-2">

        <h1>ERROR</h1>
        </div>



    </div>
    <div th:replace="fragments/footer :: footer" th:remove="tag"/>
</div>
</body>

</html>